@media screen and (max-width: 576px) {

    #navbar {
        display: none;
    }
    #introduction{
    width: 100%;
}
   #introduction-text {
    text-align: center;
    margin-bottom: 20px;
}

#introduction-text br {
    display: none;
}

hr {
    display: block;
    width: 90%;
    margin: 0 auto;        
}

    #layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-items: center;
        text-align: center;
    }
    #card {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  #card > div {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
   #playlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #host-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  #social-icons{
    justify-content: center;
  }
  #host-info>h4,p{
    text-align: center;
  }
  #host-name{
    text-align: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    #nav-small-size {
        display: none;
    }
}


@media screen and (min-width: 993px) {
    #nav-small-size {
        display: none;
    }
}